head
	meta(name='viewport',content='width=device-width,initial-scale=1.0')
	script(src='../ng/angular.js')
	script(src='../ng/angular-cookies.min.js')
	script(src='ng/ng_global.js')
	link(rel='stylesheet', href='css/bootstrap.min.css')
	link(rel='stylesheet', href='css/master.css')