doctype html
html(lang="zh-cn",ng-app='ngApp')
		include head
		style(type='text/css')
			|#mainBody{z-index:0;}
			|a.text-black{color:#333;}
			|a.text-black:hover{color:#555;text-decoration:none;}
			|.cat-icon{font-size:200px;}
			|.category{margin-top:30px; margin-bottom:10px;text-align:center;}
	body(ng-controller='ctrlMain')
		include header
		.container#mainBody
		.page-header
			h1.text-center Hello World!
		- var cate=[{}]
		.row
			.col-sm-6.col-md-4.category
				a.text-black(href='')
					span.glyphicon.glyphicon-user.cat-icon
					h3 {{body.text.b_about}}
			.col-sm-6.col-md-4.category
				a.text-black(href='')
					span.glyphicon.glyphicon-wrench.cat-icon
					h3 {{body.text.b_gear}}
			.col-sm-6.col-md-4.category
				a.text-black(href='')
					span.glyphicon.glyphicon-magnet.cat-icon
					h3 {{body.text.b_news}}