doctype html
html#ng-app(lang="zh-cn",xmlns:ng="http://angularjs.org",ng-app='ngApp')
	head
		title Welcome to Shuo's site
		include head
		style(type='text/css')
			|#mainBody{z-index:0;}
			|.cat-icon{font-size:200px;}
			|.category{margin-top:30px; margin-bottom:10px;text-align:center;}
	body(ng-controller='ctrlMain')
		include header
		.container#mainBody
		.page-header
			h1.text-center Hello World!
		.row
			.col-sm-6.col-md-4.category
				a.text-black(href='/resume')
					span.glyphicon.glyphicon-user.cat-icon
					h3 {{body.text.b_about}}
			.col-sm-6.col-md-4.category
				a.text-black(href='/tools')
					span.glyphicon.glyphicon-wrench.cat-icon
					h3 {{body.text.b_gear}}
			.col-sm-6.col-md-4.category
				a.text-black(href='#')
					span.glyphicon.glyphicon-magnet.cat-icon
					h3 {{body.text.b_news}}