doctype html
html#ng-app(lang="zh-cn",xmlns:ng="http://angularjs.org",ng-app='ngApp')
	head
		title SNS Hots - Welcome to Shuo's Site
		include head
		script(src='/ng/news.js')
		style(type='text/css')
			|.img-thumbnail{width:140px;height:140px}
			|.entity{margin:20px 0;border-style:solid;border-width:0 0 1px 0;border-color:#e6e6e6}
			|.progress{position:relative; top:50px}
			|.img-thumbnail{margin-bottom:20px}
	body(ng-controller='ctrlMain')
		include header
		.container
			.row.mainBody
				.col-md-2
				.col-md-8
					img(src='res/twitter_logo.jpg',style="height:26px;width:auto;margin:0 10px 17px 0")
					h3(style="color:#55acee;display:inline") Whats Trend
					.progress.progress-striped.active(hideonload)
						.progress-bar(aria-valuenow="100",aria-valuemin="0" aria-valuemax="100",style="width:100%")
					div(ng-controller='ctrlNews')
						.panel-group
							.panel.panel-default(ng-repeat='trend in data')
								.panel-heading
									h3
										a(href='{{trend.url}}') {{trend.topic}}
								.panel-body
									.entity(ng-repeat='entity in trend.entities | filter:{user:"!!"}')
										h4
											a(href='{{entity.userpage}}') @{{entity.user}}
										p {{entity.text}}
										img.img-thumbnail.img-responsive(ng-repeat='img in entity.media',src='{{img}}')
				.col-md-2		